.about-us {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  text-align: left;
}

.about-us p {
  font-size: 0.7rem;
}

.about-us h2 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.about-us .container-fluid img {
  margin: 3% 1% 1% 1%;
}

.about-us .container-fluid img:first-child {
  margin: 3% 1% 1% 0;
}

.about-us .container-fluid img:last-child {
  margin: 3% 0 1% 1%;
}

.about-us .container-fluid p {
  min-width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

@media (min-width: 320px) and (max-width: 991px) {
  .about-us p {
    font-size: 1.1rem;
  }
}
